<div id="game-header">
  <div id="teams">
    {{game.home_team}} vs. {{game.away_team}}
  </div>
  <div style="display: inline-block; float: right">
    <button class="btn btn-primary" id="game-comments">Game Comments</button>
    <button class="btn btn-primary" id="game-gamestats">Player Stats</button>
  </div>
</div>

<div class="video-modal">

	{% include 'athletes/cc/game_cc.html' with game=game comments=game.comments.all type="game" %}

  <div style="display: none" class="game-gamestats-container">
  
	  {% load game %}
    {% get_player_stats team=game.home_team game=game %}
    {% get_player_stats team=game.away_team game=game %}

  </div>
</div>