<div class="progress stats" style="margin-top: 10px; height: 25px">
  <div id="rebounds" data-rebounds="{{ reb }}" class="progress-bar progress-bar-success" style="width: 0%"></div>
  <div id="blocks" data-blocks="{{ blks }}" class="progress-bar progress-bar-info" style="width: 0%"></div>
  <div id="steals" data-steals="{{ stls }}" class="progress-bar progress-bar-primary" style="width: 0%"></div>
  <div id="assists" data-assists="{{ asts }}" class="progress-bar progress-bar-warning" style="width: 0%"></div>
  <div id="points" data-points="{{ pts }}" class="progress-bar progress-bar-danger" style="width: 0%"></div>
</div>