<div style="top: 5%" class="video-modal" data-gamefilm-id="{{gamefilm.id}}" data-mpd-url="{{gamefilm.mpd_url}}">
	{% include 'athletes/gamefilm/gamefilm_clipbars.html' with gamefilm_clips=gamefilm_clips %}
	<div id="clip-creation-bar" style="display: none"></div>
	<div class="create-clip">
		<span class="glyphicon glyphicon-scissors"></span>
	</div>
	<div class="save-clip-creation" style="display: none">
		<span class="glyphicon glyphicon-floppy-disk"></span>
	</div>
	<div class="cancel-clip-creation" style="display: none">
		<span class="glyphicon glyphicon-remove"></span>
	</div>
	<div class="edit-clip" style="display: none">
		<span class="glyphicon glyphicon-pencil"></span>
	</div>
	<div class="delete-clip" style="display: none">
		<span class="glyphicon glyphicon-remove"></span>
	</div>

	<div class="save-clip-edit" style="display: none">
		<span class="glyphicon glyphicon-floppy-disk"></span>
	</div>
	<div class="revert-clip" style="display: none">
		<span class="glyphicon glyphicon-repeat"></span>
	</div>
	
	<div class="video-wrapper" style="position: relative">
    <video id="movie" width="800px"  preload="none" controls>
    </video>
    <div class="replay-clip" style="display: none">
      <span class="glyphicon glyphicon-repeat"></span>
    </div>
  </div>
</div>

<div class="gamefilm-tag-container">
  <img class="thumbnail fix-display" src="{{STATIC_URL}}images/player.jpg" width="200px">
  <div class="tag-container">
    <h3>Tag Another Player</h3>
    <input type="text" class="form-control" placeholder="enter player">
  </div>
</div>