<li>
	<img data-clip-id="{{clip.id}}" class="top10-img img-selectable thumbnail" 
width="150px" src="{{STATIC_URL}}images/player.jpg">
	<div class="top10-player-info">
		<h4>{{ clip.athlete }}</h4>
		<h5 class="weak">{{ clip.athlete.current_team }}</h5>
		<h5 class="weak">{{ clip.created_at }}</h5>
	</div>
	<div class="top10-stat-holder">
		<button class="btn btn-primary">Shares</button>
		<h4>45</h4>
	</div>
	<div class="top10-stat-holder">
		<button class="btn btn-primary">Likes</button>
		<h4>{{ clip.stars.count }} </h4>
	</div>
	<div class="top10-stat-holder">
		<button class="btn btn-primary">Views</button>
		<h4>{{ clip.view_count }}</h4>
	</div>
	<div class="top10-stat-holder">
		<button class="btn btn-success">Total Points</button>
		<h4>105</h4>
	</div>
</li>