<div class="progress stats" style="margin-top: 10px; height: 25px">
  <div id="rebounds" data-rebounds="{{stat.rebounds}}" class="progress-bar progress-bar-success" style="width: 0%"></div>
  <div id="blocks" data-blocks="{{stat.blocks}}" class="progress-bar progress-bar-info" style="width: 0%"></div>
  <div id="steals" data-steals="{{stat.steals}}" class="progress-bar progress-bar-primary" style="width: 0%"></div>
  <div id="assists" data-assists="{{stat.assists}}" class="progress-bar progress-bar-warning" style="width: 0%"></div>
  <div id="points" data-points="{{stat.points}}" class="progress-bar progress-bar-danger" style="width: 0%"></div>
</div>