{% extends 'base.html' %}

{% block content %}
<section class="top10">
	<div class="content">
    <div class="header-container">
      <h1 class="header fix-display">Weekly Top 10</h1>
      <div class="top10-categories" data-example-id="simple-nav-justified">
  	    <ul class="nav nav-pills nav-justified">
  	      <li role="presentation" class="active"><a href="#">Overall</a></li>
  	      <li role="presentation"><a href="#">Dunks</a></li>
  	      <li role="presentation"><a href="#">Crossovers</a></li>
          <li role="presentation"><a href="#">Games</a></li>
  	    </ul>
  	  </div>
    </div>
		<ul>
		{% for clip in clips %}
			{% include 'athletes/clipblock.html' with clip=clip %}
		{% endfor %}
		</ul>
	</div>
</section>

{% endblock %}