<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sports App</title>
    <meta name="description" content="A social networking application for high school athletes, coaches, and fans.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Imported Stylesheets -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/base.css">
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/login.css">
    {% block additional_stylesheets %}{% endblock %}

  </head>
  <body>

    {% include 'options_menu.html' %}

    {% include 'user_login.html' %}

    <section class="video-modal"></section>
    {% block content %}{% endblock %}

    <!-- Imported Javascript -->
    <script type="text/javascript" src="{% static 'jquery/dist/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/universal.js"></script> 
    <script type="text/javascript" src="{{STATIC_URL}}js/clip_creation.js"></script>
    <script type="text/javascript" src="{% static 'dash.js/dist/dash.all.js' %}"></script>
    {% block additional_javascript %}{% endblock %}
    
  </body>
</html>