<nav class="options-menu">
  <ul id="options-list">
    {% if user.athleteprofile %}

      <li class="option strong" id="notifications">
        Notifications<span class="badge">{{user.athleteprofile.notifications.count}}</span>
      </li>
      <ul id="notification-list" style="display: none">
        {% for notification in user.athleteprofile.notifications.all %}
          <li data-gamefilm-id="{{notification.game_film.id}}"
              data-notification-id="{{notification.id}}">{{notification}}</li>
        {% endfor %}
      </ul>

      <a href="{% url 'feed' %}"><li class="option strong">Feed</li></a>
      <a href="{% url 'athlete_profile' %}"><li class="option strong">Profile</li></a>
      <a href="{% url 'top10' %}"><li class="option strong">Top 10</li></a>
      <a href="{% url 'watching' %}"><li class="option strong">Watching</li></a>
      <li class="option strong">Rankings</li>
      <li class="option strong">Games</li>
      <a href="{% url 'team' user.athleteprofile.current_team.id %}"><li class="option strong">My Team</li></a>

    {% endif %}

    {% if user.is_authenticated %}  
      <li class="option strong">
        <form name="form" method="post" action="{% url 'logout' %}">
          {% csrf_token %}
          <a onclick="form.submit();">Logout</a>
        </form>
      </li>
    {% endif %}

  </ul>

    {% load athlete_watching %}
    {% if user.athleteprofile %}
      <div id="suggestions">
        <h3>Suggestions</h3>
        <ul>
          {% get_watch_suggestions as suggestions %}
          {% for suggestion in suggestions %}
          <a href="{% url 'athlete_profile_with_id' suggestion.id %}">
          <li class="option">
            <img src="{{STATIC_URL}}images/player.jpg" width="30px">
            {{suggestion|truncatechars:16}}
          </li> 
          </a>  
          {% endfor %}

        </ul>
      </div>

    {% endif %}
</nav>