{% extends 'base.html' %}


{% block content %}
<section class="team-heading">
	<div class="content">
		<h1>{{team}}</h1> 
	</div>
</section>
<section class="team-options">
  <div class="content">
  	<div data-example-id="simple-nav-justified">
      <ul class="nav nav-tabs nav-justified">
        <li role="presentation" data-id="players" class="active"><a href="#">Players</a></li>
        <li role="presentation" data-id="stats"><a href="#">Stats</a></li>
        <li role="presentation" data-id="games"><a href="#">Games</a></li>
      </ul>
    </div>
  </div>
</section>
<section class="team-payload">
  <div class="content">
    <div class="players">
      {% include 'athletes/athlete_listing.html' with players=team.athletes.all %}
    </div>
    <div class="stats" style="display: none">
      <ul>
        {% for player in team.athletes.all %}
        <li style="margin-top: 20px">
          <h4>#{{player.number}} {{player}}</h4>
          {% include 'athletes/gamestat/gamestat-progressbar.html' with reb=player.avg_rebounds blks=player.avg_blocks stls=player.avg_steals asts=player.avg_assists pts=player.avg_points %}
        </li>
        {% endfor %}
      </ul>
    </div>

    <div class="games" style="display: none">
      {% for game in recent_games %}
        <div class="game-block">
          <div class="team-info">
            <div class="home-team">
              <div class="team-name">
                <h4>{{game.home_team}}</h4>
              </div>
            </div>
            <img src="{{STATIC_URL}}images/parktudor.jpg" width="100px">
            <div class="score">
              {% if game.home_team_score > game.away_team_score %}
              <h1>{{game.home_team_score}}</h1>
              <h3 class="glyphicon glyphicon-triangle-left"></h3>
              <h5>Final</h5>
              <h3 style="color: white" class="glyphicon glyphicon-triangle-right"></h3>
              <h1 class="weak">{{game.away_team_score}}</h1>
              {% else %}
              <h1 class="weak">{{game.home_team_score}}</h1>
              <h3 style="color: white" class="glyphicon glyphicon-triangle-left"></h3>
              <h5>Final</h5>
              <h3 class="glyphicon glyphicon-triangle-right"></h3>
              <h1>{{game.away_team_score}}</h1>
              {% endif %}
            </div>
            <img src="{{STATIC_URL}}images/parktudor.jpg" width="100px">
            <div class="away-team">
              <div class="team-name">
                <h4>{{game.away_team}}</h4>
              </div>
            </div>
          </div>

          {% load game %}
          <div class="leading-scorers">
            {% get_games_best_player game game.home_team as home_stat %}
            {% get_games_best_player game game.away_team as away_stat %}
            <div class="leading-player">
              <img src="{{STATIC_URL}}images/player.jpg" width="150px">
              <h3>{{home_stat.athlete}}</h3>
                {% include 'athletes/gamestat/gamestat-progressbar.html' with reb=home_stat.rebounds blks=home_stat.blocks stls=home_stat.steals asts=home_stat.assists pts=home_stat.points %}
            </div>
            <div class="leading-player">
              {% include 'athletes/gamestat/gamestat-progressbar.html' with reb=away_stat.rebounds blks=away_stat.blocks stls=away_stat.steals asts=away_stat.assists pts=away_stat.points %}
              <h3>{{away_stat.athlete}}</h3>
              <img src="{{STATIC_URL}}images/player.jpg" width="150px">
            </div>

          </div>
          <div class="options">
            <a href="#">View Game</a>
          </div>

        </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}  